.map{
display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   text-align: center;


 

}

.format {
 text-align: center;
 max-width: 100%;
 max-height: 100%;
 border: 2px solid beige;
 margin: 15px;
 padding: 75px;
 margin-right: 15px;
 margin-left: 30px;
 margin-bottom: 30px;
float: left;




}

ul{
width: 150px;
height: 150px;
text-align:left;
margin-bottom: 10px;
}

img{
align-items: center; 
 max-width: 150px;
max-height: 150px;
display: block;
    margin-left: auto;
    margin-right: auto;


    /* Ensure images don't have extra space below */

    /* Center the image horizontally */
}

.title{
    text-align: center;
    background-color:beige

}

h2{

text-align: center

}

.header {
    text-align: center;
    background-color: beige;
    
}
body{
    background-color: aqua;
}